.button {
    background-color: rgba(0, 78, 255, 0.75);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: none;
    float: left;
}

.signup {background-color: rgba(0, 4, 128, 0.75); float: right;}
.logout{background-color: rgba(0, 128, 10, 0.75); float:right; padding: 5px 7px;}
.para{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.resp{color:red;}
.link{width: 300px; margin: 0 auto;}